.wrapper {
  padding: 20px;
}

.cart-title {
  font-weight: 300;
  text-align: center;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .cart-bottom {
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
  }
}
