.comment-textarea {
  width: 28rem;
  width: 28.77rem;
  height: 5rem;
}

/* Items */
.comment-item {
  width: 38rem;
  /* border: 1px solid red; */
}

.comment-item-text {
  background-color: #eaecee;
  width: 28rem;
  padding: 0.9rem 0.5rem;
  border-radius: 8px;
}
