/* Hero */
.hero-bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero-bg {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.hero-image-position {
  position: relative;
}

.font-title {
  font-size: 3.1rem;
}

.hero-back {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 1rem;
}

.hero-title-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title-image {
  padding-top: 6rem;
}

.discover-btn-center {
  margin-left: -0.4rem;
}

.discover-btn-color {
  background: rgba(0, 0, 0, 0.86);
}

.hero-image-size {
  width: 320px;
}

.green-text {
  color: #5d6d7e;
}

@media only screen and (max-width: 976px) {
  .hero-back {
    top: 12rem;
    padding: 0;
  }
  .font-title {
    font-size: 2rem;
  }
  .hero-image-size {
    width: 230px;
  }
  .hero-title-image {
    padding: 1rem;
  }
}
