body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 9px;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.8);
  border: 0;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.8);
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(12, 12, 12, 0.2);
}

/* UTILITIES CLASSES */
.text-capitalize {
  text-transform: capitalize;
}

.margin-loader {
  margin-top: 3rem;
}
