body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

// Layout
.main-layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.main-title-color {
  background: linear-gradient(to right, #1e130c 0%, #9a8478 51%, #1e130c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.2rem;
  font-weight: 400;
}

.product-title::first-letter {
  text-transform: capitalize;
}

.price-text {
  background: linear-gradient(to right, #283048 0%, #859398 51%, #283048 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.url-no-style {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.no-spacing {
  margin: 0 !important;
  padding: 0 !important;
}

// Forms
.form-container {
  background-color: rgba(253, 254, 254, 0.7);
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
}

/* 990px */
@media only screen and (max-width: 976px) {
  .form-container {
    width: 100%;
  }
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 1rem;
  column-gap: 2rem;

  @media only screen and (min-width: 569px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 811px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.go-btn {
  background-image: linear-gradient(
    to right,
    #ece9e6 0%,
    #ffffff 51%,
    #ece9e6 100%
  );
  background-size: 200% auto !important;
  color: white !important;
}
